<section class="bg-black pt-16">
  <div class="bg-gray-900 py-8">
    <div class="container mx-auto px-4 mb-12">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="inline-block mb-12 pt-12 text-white text-xl font-bold">
          <img class="h-16" src="assets/img/PAD_logo_%20Wordmark_%20black.svg" alt="" width="auto">
        </h2>
        <ul class="mb-12 md:mb-20 flex flex-wrap items-center justify-center space-x-6 md:justify-between text-lg">
          <li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-primary transition" routerLink="/">Home</a></li>
          <li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-primary transition" routerLink="/pricing">Pricing</a></li>
          <li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-primary transition" routerLink="/features">Features</a></li>
          <li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-primary transition" routerLink="/contact">Contact</a></li>
          <li class="mb-4 md:mb-0"><a class="font-bold text-white hover:text-primary transition" routerLink="/demo">Demo Request</a></li>
        </ul>
        <div class="flex justify-center">
          <a class="flex justify-center items-center w-12 h-12 mx-2 bg-gray-600 rounded-full text-white hover:text-secondary transition" href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="flex justify-center items-center w-12 h-12 mx-2 bg-gray-600 rounded-full text-white hover:text-secondary transition" href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="flex justify-center items-center w-12 h-12 mx-2 bg-gray-600 rounded-full text-white hover:text-secondary transition" href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="flex justify-center items-center w-12 h-12 mx-2 bg-gray-600 rounded-full text-white hover:text-secondary transition" href="#">
            <i class="far fa-envelope-open"></i>
          </a>
        </div>
      </div>
    </div>
    <p class="text-center text-lg text-white pt-8 px-4 border-t border-gray-500">
      <span>© {{year}} Paddle Grengineers</span>
    </p>
  </div>
</section>
