<app-back-to-home></app-back-to-home>

<section class="py-20 2xl:py-40 mt-20">
  <div class="container px-4 mx-auto">
    <div class="mb-4 md:mb-8 text-center">
      <h2 class="mb-8 md:mb-14 primary-title">
        Choose a
        <span class="text-primary ml-1">plan</span>
      </h2>
      <p class="text-lg text-gray-200">{{plans.length}} plans to fit all your needs.</p>
    </div>
    <div class="max-w-7xl mx-auto">
      <div class="p-6 lg:p-12 mb-8 rounded-3xl" [ngClass]="{'bg-gray-800': isEven, 'bg-gray-900': !isEven}"
           *ngFor="let plan of plans; even as isEven">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full lg:w-1/6 px-4 mb-10 lg:mb-0">
            <h3 class="text-3xl font-bold font-heading text-white">{{plan.name}}</h3>
          </div>
          <div class="w-full md:w-1/2 lg:w-2/6 px-4 mb-10 lg:mb-0">
            <ul class="text-base lg:text-lg text-white">
              <li class="flex items-center mb-6">
                <i class="fas fa-check mr-6"></i>
                <span>{{plan.feature1}} admin seats</span>
              </li>
              <li class="flex items-center mb-6">
                <i class="fas fa-check mr-6"></i>
                <span>{{plan.feature2}} MB of storage</span>
              </li>
              <li class="flex items-center mb-6">
                <i class="fas fa-check mr-6"></i>
                <span>{{plan.feature3}} monthly events</span>
              </li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-2/6 px-4 mb-10 lg:mb-0 text-center lg:border-l border-gray-500">
            <!--      <h3 class="mb-3 text-lg font-bold text-blue-500">20% off with annual billing</h3>-->
            <div class="mb-1 flex justify-center font-bold text-white">
              <p class="self-end text-5xl">{{plan.price | currency: 'EUR'}}</p>
            </div>
            <p class="text-lg text-white">/Month</p>
          </div>
          <div class="w-full lg:w-1/6 px-4 text-center lg:text-right">
            <app-button text="Get started!"></app-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
