<app-back-to-home></app-back-to-home>

<section class="container m-auto px-1 mt-32">

  <div class="flex flex-wrap justify-center mt-12">
    <div class="w-full md:w-3/4 lg:w-2/3 xl:w-1/2">
      <form [formGroup]="form">
        <h1 class="mb-10 primary-title text-white">
          Request a <span class="text-primary">demo</span>
        </h1>
        <input class="w-full px-8 py-4 bg-white font-bold placeholder-gray-400 rounded-full focus:outline-none text-black"
               formControlName="name"
               type="text"
               placeholder="Your name">
        <small class="text-red" *ngIf="name?.touched && name?.invalid">Required</small>

        <input class="mt-6 w-full px-8 py-4 bg-white font-bold placeholder-gray-400 rounded-full focus:outline-none text-black"
               formControlName="email"
               type="email"
               placeholder="Your email">
        <small class="text-red" *ngIf="email?.touched && email?.invalid">Must be a valid email</small>

        <h4 class="mt-10 text-xl">
          We need some information about your company
        </h4>

        <input class="mt-6 w-full px-8 py-4 bg-white font-bold placeholder-gray-400 rounded-full focus:outline-none text-black"
               formControlName="company"
               type="text"
               placeholder="Company name">
        <small class="text-red" *ngIf="company?.touched && company?.invalid">Required</small>

        <input class="mt-6 w-full px-8 py-4 bg-white font-bold placeholder-gray-400 rounded-full focus:outline-none text-black"
               formControlName="domain"
               type="text"
               placeholder="Website domain">
        <small class="text-red" *ngIf="domain?.touched && domain?.invalid">Required</small>

        <select formControlName="product" class="mt-6 w-full px-8 py-4 bg-white font-bold rounded-full focus:outline-none text-black">
          <option disabled selected class="text-gray-400" value="">What do you sell?</option>
          <option value="SaaS">Saas</option>
          <option value="digital products">Digital Products</option>
          <option value="online courses">Online courses</option>
          <option value="other">Other</option>
        </select>
        <small class="text-red" *ngIf="product?.touched && product?.invalid">Required</small>


        <app-button text="Request demo!" icon="fas fa-laptop-code"
                    [processing]="sending"
                    [expanded]="true" [rounded]="true" (onClick)="send()"></app-button>
      </form>
    </div>

  </div>


</section>
