<section class="pb-20 bg-black pt-8">
  <div class="relative container px-4 pt-12 md:pt-20 mx-auto ">
    <div class="flex flex-wrap items-center -mx-4 mb-20 2xl:mb-14">
      <div class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
        <h2 class="max-w-2xl mt-12 mb-12 text-6xl 2xl:text-8xl text-white font-bold font-heading">
          <span class="text-primary mr-3">Growth</span>
          <br>
          <span>Engineering</span>
        </h2>
        <p class="mb-12 lg:mb-16 2xl:mb-24 text-xl text-gray-100">The growth engineering exercise app.</p>
      </div>
      <div class="w-full lg:w-1/2 px-4">
        <img class="w-full rounded" src="./assets/img/big_star.png" alt="">
      </div>
    </div>
  </div>
</section>
